@model IEnumerable<Feature.OHS.Web.ViewModels.NurseViewModel>

@{
    ViewData["Title"] = "List";
}

<h2>List</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.PersonId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateOfBirth)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IdNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PassportNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CauseOfDeath)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DeathDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreatorId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MiddleName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Initials)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ResAddress1)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ResAddress2)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ResPostCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Occupation)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Religion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BusAddress)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.QualificationId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NameOfDegree)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Institution)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.YearObtained)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BusPostCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Type)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BusName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HomeTel)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.WorkTel)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ResSurbub)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Country)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.GenderId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DeadTypeId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Ethnicity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IdentityType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MaritalStatus)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NurseId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PracticeNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DoctorId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Role)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HPCNARegistrationNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.YearsInPractice)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PersonId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfBirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PassportNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CauseOfDeath)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeathDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatorId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MiddleName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Initials)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ResAddress1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ResAddress2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ResPostCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Occupation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Religion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BusAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QualificationId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NameOfDegree)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Institution)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YearObtained)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BusPostCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BusName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HomeTel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorkTel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ResSurbub)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GenderId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeadTypeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ethnicity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdentityType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaritalStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NurseId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PracticeNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DoctorId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HPCNARegistrationNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YearsInPractice)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
